{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} <script src="./tailwind.config.js"></script>
    <script src="./main.js"></script> {% endcomment %}
    <title>{{ title }}</title>
</head>
<body class="font-Rubik-Mono-One">

    <header>
        <div class="logo">

        </div>
        <div class="navigation">
            <ul class="flex px-3">
                <li class="px-3"><a href="{% url 'home'%}">Главная страница</a></li>
                <li class="px-3"><a href="{% url 'products'%}">Продукты</a></li>
                <li class="px-3"><a href="{% url 'info_herself'%}">О нас</a></li>
                <li class="px-3"><a href="{% url 'login'%}">Войти</a></li>
                <li class="px-3"><a href="{% url 'register'%}">Зарегистрироваться</a></li>
                <li class="px-3"><a href="{% url 'logout'%}">Выйти</a></li>
                <!-- <li class="px-3"><a href="{% url 'image'%}">Картинка</a></li> -->
            </ul>
        </div>
        <div class="search">
            <form
            hx-trigger="input"
            hx-get="{% url 'search'%}"
            hx-swap="outerHTML"
            hx-target="#found_products">
                <input type="text" name="search">
                <button type="submit">Поиск</button>
            </form>
        </div>
        {% if request.user %}
            {{ request.user.username}}
        {% endif %}
    </header>
    <div id="found_products">
        
        {% block content %}

        {% endblock %}
    
    </div>    
</body>
</html>